
# Delphi compatible
-Sd
-Sx  

# Smart-link
-CX
-XX
-Xs

# Optimizations (Level 3)
-O3

#Link map
#-Xm

# Display Info, Warnings, Notes and Hints
#-viwnh
-viwn


#ifdef CPUX86_64
-Fu..\RTL\FPC64
#else
-Fu..\RTL\FPC32
#endif CPUX86_64
