
#include "..\Build.h"

LANGUAGE 0, 0

1 VERSIONINFO
 FILEVERSION 1,Build,0,0
 PRODUCTVERSION 1,Build,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x10004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904E3"
        BEGIN
            VALUE "FileDescription", "Noisy player\0"
            VALUE "InternalName", "Noisy\0"
            VALUE "OriginalFilename", "Noisy.exe\0"
            VALUE "FileVersion", "1." BuildS "\0"
            VALUE "CompanyName", "Max Rusov\0"
            VALUE "LegalCopyright", "(c) 2008-2014, Max Rusov\0"
            VALUE "ProductName", "Noisy\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1251
    END
END

1    24  DISCARDABLE     "xptheme.bin"

MainIcon ICON  "Note.ico"

Play     ICON  "NotePlay.ico"
Pause    ICON  "NotePause.ico"
Stop     ICON  "NoteStop.ico"