
#include "..\FarHints\Build.h"

LANGUAGE 0, 0

1 VERSIONINFO
 FILEVERSION 1,0,Build,0
 PRODUCTVERSION 1,Build,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x10004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904E3"
        BEGIN
            VALUE "FileDescription", "Cursors and Icons sub-plugin for FarHints\0"
            VALUE "InternalName", "farhintscursors\0"
            VALUE "OriginalFilename", "farhintscursors.hll\0"
            VALUE "FileVersion", "1.0." BuildS "\0"
            VALUE "CompanyName", "Max Rusov\0"
            VALUE "LegalCopyright", "(c) 2007-2018, Max Rusov\0"
            VALUE "ProductName", "FarHints\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1251
    END
END
