
#include "Build.h"


#ifdef Far3
 #define FarVerS "3"
#else
 #define FarVerS "2"
#endif

#ifdef x64
 #define PlatformS "x64"
#else
 #define PlatformS "x32"
#endif

LANGUAGE 0, 0

1 VERSIONINFO
 FILEVERSION 1,Build,0,0
 PRODUCTVERSION 1,Build,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x10004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904E3"
        BEGIN
            VALUE "FileDescription", "PlugMenu Far plugin (Far " FarVerS " " PlatformS ")\0"
            VALUE "InternalName", "PlugMenu\0"
            VALUE "OriginalFilename", "plugmenu.dll\0"
            VALUE "FileVersion", "1." BuildS "\0"
            VALUE "CompanyName", "Max Rusov\0"
            VALUE "LegalCopyright", "(c) 2008-2014, Max Rusov\0"
            VALUE "ProductName", "PlugMenu\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1251
    END
END
