
#Include ..\..\MixLib\FPC.cfg

-Fi..\..\MixLib
-Fu..\..\FarApi;..\..\FarLib
-Fu..\..\MixLib;..\..\MixLib\WIN;..\..\MixLib\FPC

#ifdef CPUX86_64
-FU..\..\xUnits\FPCx64\VerCol
-FE..\..\Bin3x64\VerCol
#else
-FU..\..\xUnits\FPCx32\VerCol
-FE..\..\Bin3\VerCol
#endif CPUX86_64

