
#Include ..\MixLib\FPC.cfg

-Fi..\MixLib
-Fu..\FarApi;..\FarLib;..\FarHints
-Fu..\MixLib;..\MixLib\Win;..\MixLib\FPC

#ifdef CPUX86_64
-FU..\Units64\FarDebug
-FE..\Bin64\FarDebug
-WB140A00000
#else
-FU..\Units\FarDebug
-FE..\Bin\FarDebug
-WB40A00000
#endif CPUX86_64

