
# Delphi compatible
-Sd
-Sx  

# Smart-link
-CX
-XX
-Xs

# Optimizations (Level 3)
-O3

#Link map
#-Xm

# Display Info, Warnings, Notes and Hints
#-viwnh
-viwn

# ImageBase
-WB40A00000

-Fi..\MixLib
-Fu..\FarApi;..\FarLib;..\FarHints
-Fu..\MixLib;..\MixLib\Win;..\MixLib\FPC

-FU..\Units\FarDebug
-FE..\Bin\FarDebug
