
#Include ..\MixLib\FPC.cfg

-Fi..\MixLib
-Fu..\FarApi;..\FarLib
-Fu..\MixLib;..\MixLib\WIN;..\MixLib\FPC

#ifdef CPUX86_64
-FU..\xUnits\FPCx64\ConCtrl
-FE..\Bin3x64\ConCtrl
#else
-FU..\xUnits\FPCx32\ConCtrl
-FE..\Bin3\ConCtrl
#endif CPUX86_64

