#hpp file name
Lang.inc
#number of languages
2
#language description
VisComp_en.lng English "English"
VisComp_ru.lng Russian "Russian (Русский)"

#head/tail of the hpp file
hhead:type
hhead:  TMessages = (

htail:  );

#--------------------------------------------------------------------

strLang
"English"
"Русский"

strTitle
"Visual Compare"
"Визуальное сравнение"
