
#Include ..\MixLib\FPC.cfg

-Fi..\MixLib
-Fu..\FarApi;..\FarLib
-Fu..\MixLib;..\MixLib\WIN;..\MixLib\FPC

#ifdef CPUX86_64
-FU..\Units64\PathSync
-FE..\Bin_64\PathSync
#else
-FU..\Units\PathSync
-FE..\Bin\PathSync
#endif CPUX86_64

