
#Include ..\MixLib\FPC.cfg

-Fi..\MixLib
-Fu..\FarApi;..\FarLib
-Fu..\MixLib;..\MixLib\WIN;..\MixLib\FPC

#ifdef CPUX86_64
-FU..\xUnits\FPCx64\FarFM
-FE..\Bin3x64\FarFM
#else
-FU..\xUnits\FPCx32\FarFM
-FE..\Bin3\FarFM
#endif CPUX86_64

