
# Delphi compatible
-Sd
-Sx  

# Smart-link
-CX
-XX
-Xs

# Optimizations (Level 3)
-O3

#Link map
#-Xm

# Display Info, Warnings, Notes and Hints
#-viwnh
-viwn

-Fi..\MixLib
-Fu..\FarApi;..\FarLib
-Fu..\MixLib;..\MixLib\WIN;..\MixLib\FPC

#ifdef CPUX86_64
-FU..\Units64\PanelTabs
-FE..\Bin64\PanelTabs
-WB140B00000
#else
-FU..\Units\PanelTabs
-FE..\Bin\PanelTabs
-WB40B00000
#endif CPUX86_64

